/venv
images/
*.jpeg
*.pdf
*.png

__pycache__/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot

../.DS_Store
.DS_Store