{% extends 'main/header.html' %}


{% block content %}
    <!-- Cover Picture -->
    <div class="parallax-container">
        <div class="parallax">
            {% load static %}
            <img src={% static business.cover_picture  %}  alt='Cover Image'>
        </div>
    </div>

    <script>M.toast({html: "{{business.name}}!", classes: 'green', displayLength:2000});</script>

    {% if error_message %}
            <p> <strong></strong> </p>
            <script>M.toast({html: "{{ error_message }}!", classes: 'red', displayLength:2000});</script>
    {% endif %}
    
    <!-- Contenido -->
    <div class='container'>
        <div class="section white">
            <div class="row container">
                <!-- Nombre y Descripción -->
                <h2 class="header" style="color:#e57373">{{business.name}}</h2>
                <h5>{{ business.city }}</h5>
                <h6 style="font-family:Avenir">{{business.address}}</h6>
                
                    <p class="grey-text text-darken-3 lighten-3">
                    {{ business.description }}
                    </p>
            </div>

            <!-- Imagen -->
            <div class="col s12 m6 l4">

                <div class="container">
                    {% load static %}
                    <img class="materialboxed" width="650" src={% static business.cover_picture %}>
                </div>

            <br>
            <br>
                
            <!-- Todos los atributos -->
            <!-- Calificación, internet, capacidad -->
            <div class="row">

                <div class="col s4">
                    <i class="medium material-icons">insert_chart</i>
                    <h5 style="font-size:1.5rem; font-family:Monaco">Calificación</h5>
                    <div class="col s3">
                        <div class="card-panel teal">
                            <span class="white-text" style="font-size:1.4rem">{{business.rating}}</span>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <i class="medium material-icons">network_check</i>
                    <h5 style="font-size:1.5rem; font-family:Monaco">Internet</h5>
                    <div class="col s3">
                        <div class="card-panel teal">
                            <span class="white-text" style="font-size:1.4rem">{{business.internet_quality}}</span>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <i class="medium material-icons">people</i>
                    <h5 style="font-size:1.5rem; font-family:Monaco">Capacidad</h5>
                    <div class="col s3">
                        <div class="card-panel teal">
                            <span class="white-text" style="font-size:1.4rem">{{business.capacity}}</span>
                        </div>
                    </div>
                </div>
                
            </div>


            <!-- Reportes -->
            <br>
            <div class="divider"></div>

            <div class="row">
                <div class="col s1">
                    <h4 style="color:#e57373">Reportes</h4>
                </div>
                {% if user.is_authenticated %}      
                <div class="col s6 offset-s1">      
                    <a class="btn-floating btn-large waves-effect waves-light teal" href="{% url 'main:make_report' business.id %}""><i class="material-icons">add</i></a>
                    <span class="flow-text" style="color:#455a64; font-family:Avenir;">Add Report</span>
                </div>
                {% else %}
                    <a class="btn disabled">Login to report</a>
                {% endif %}

            </div>

                {% for report in business.report_set.all %}
                    <div class="section">
                        
                        <div class="row">

                            <div class="col s1 ">
                                <div class="card-panel teal">
                                    <span class="white-text" style="font-size:1.2rem">{{report.rating_business}}</span>
                                </div>
                            </div>

                            
                            <div class="col s6 offset-s6">
                            {% if user.is_authenticated %}
                                <form action="{% url 'main:support_report' business.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="waves-effect waves-light btn" type="submit" name='button_support' value={{report.id}} >Support</button>
                                </form>
                            {% else %}
                                <a class="btn disabled">Support</a>
                            {% endif %}
                            </div>

                        </div>
                        <h5>{{report.occupation_status}}</h5>

                        <p>{{report.date}}</p>
                        <p>{{report.comments}}</p>
                        <span style="font-family:Avenir"><i class="tiny material-icons">stars</i> {{report.report_support}}</span>
                    </div>
                    <div class="divider"></div>
                {% endfor %}
                
                
            
            

            <!-- Datos -->
            <br>

            <div class="container">
                <div class="col s10 m6 l8">
                    <h4>Información</h4>
                        <table class="highlight">
                        <tr>
                            <th>Apertura</th>
                            <td>{{business.Opening}}</td>
                        </tr>
                        <tr>
                            <th>Cierre</th>
                            <td>{{business.Closing}}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{business.telephone_number}}</td>
                        </tr>
                        </table>
                </div>
            </div>
            <br>
        </div>
            
        </div>
    </div>

{% endblock %}